<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoPath" value="mongodb://Trippin:Trippin@trippin-shard-00-00-j2tkx.mongodb.net:27017,trippin-shard-00-01-j2tkx.mongodb.net:27017,trippin-shard-00-02-j2tkx.mongodb.net:27017/Trippin?ssl=true&amp;replicaSet=Trippin-shard-0&amp;authSource=admin"/>
    <add key="GoogleKey" value="AIzaSyBoB1pwTp2TzJbiHdkfl8loYsbTGYL_w60"/>
  </appSettings>
</configuration>