<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="GoogleKey" value="AIzaSyBoB1pwTp2TzJbiHdkfl8loYsbTGYL_w60"/>
      <add key="MongoPath" value="mongodb://Trippin:Trippin@trippin-shard-00-00-j2tkx.mongodb.net:27017,trippin-shard-00-01-j2tkx.mongodb.net:27017,trippin-shard-00-02-j2tkx.mongodb.net:27017/Trippin?ssl=true&amp;replicaSet=Trippin-shard-0&amp;authSource=admin"/>
    </appSettings>
</configuration>